<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         backupGlobals="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         cacheResult="true">
    <testsuites>
        <testsuite name="ButterCream Test Suite">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <php>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
